<meta charset="utf-8">
<html>
    <body>
        <font face="TH Sarabun New">
            <table style="width: 500px; height: 275px;">
                <tr>
                    <td style="width: 250px; text-align: center; vertical-align: middle; font-size: 30px; font-weight: bold;"><h2 style="margin:0;">มีปัญหาติดต่อ</h2><img src="lineLogo.png" width="80px"><br/>Line: @Pinto-Support</td>
                    <td style="text-align: center;"><img src="pinto-support-lineqr.png" width="180px"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center; vertical-align:middle; font-size: 24px; line-height: 1em;">กรุณาแจ้งชื่อผู้ติดต่อ ชื่อสถานที่ติดตั้ง และ หมายเลขเครื่อง 15 หลัก<br/>หมายเลขเครื่องดูได้จากสติกเกอร์ด้านหลัง ขึ้นต้นด้วย 35</td>
                </tr>
            </table>
        </font>
    </body>
</html>